/**
 * @file
 * Styling for the weather block.
 */

.weather-block {
    font-family: 'Roboto', sans-serif;
    color: #505050;
}
.weather-block h3, h2{
    display: block;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.weather-block h3{
    font-size: 24px;
}
#weather_temp{
    font-size: 30px;
}
.weather-block img {
    vertical-align: middle;
}